{% extends "share_layout/base.html" %}
{% block title %}消息中心{% endblock title %}
{% block content %}
<di class="container">
    <div id="nav">
        <div class="title">我的消息</div>
        <ul class="nav-list">
            <li class="msg-item comment active">
                <a href="/" ajaxpipe="1" data-quickviewid="upCollageMain"> 评论
                    <span class="badget transparent"></span>
                </a>
            </li>
            <li class="msg-item like">
                <a href="/like" ajaxpipe="1" data-quickviewid="upCollageMain"> 赞
                    <span class="badget transparent"></span>
                </a>
            </li>
            <li class="msg-item sysmsg">
                <a href="/sysmsg" ajaxpipe="1" data-quickviewid="upCollageMain"> 站内公告
                    <span class="badget transparent"></span>
                </a>
            </li>
            <li class="msg-item resmsg">
                <a href="/resmsg" ajaxpipe="1" data-quickviewid="upCollageMain"> 系统通知
                    <span class="badget transparent"></span>
                </a>
            </li>
        </ul>

    </div>
    <div class="content comment">
        <div id="upCollageMain">
            <div id="listview" totalcount="342">
                <p>sldjglsjdgl;sjdgljsljdglsjdgl</p>
            </div>
        </div>
        <div id="pager">
            <div id="pager_922379681E56A0C5" class="pager__wrapper"><a
                    class="pager__btn pager__btn__prev pager__btn__disabled">上一页</a><a
                    class="pager__btn pager__btn__selected">1</a><a class="pager__btn">2</a><a
                    class="pager__btn">3</a><a class="pager__btn">4</a><span class="pager__ellipsis">...</span><a
                    class="pager__btn">18</a><a class="pager__btn pager__btn__next">下一页</a>
                <div class="pager__input">跳至<input type="text">页</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}