{% load comment_tags %}
{% load likes_tags %}
<div class="area-top-close">
    {% get_comment_list obj as comments %}
    {% for comment in comments %}
    <div class="area-comment-top clearfix" id="comment-list">
        <div class="area-comment-first clearfix">
            <div class="area-comment-left"><a class="thumb"><img src="{{ comment.user.get_avatar_url }}"
                        class="avatar"></a></div>
            <div class="area-comment-right">
                <div class="area-comment-title"><span class="user-name">{{ comment.user.username }}</span><span
                        class="time_day">发表于</span> <span
                        class="time_times">{{ comment.comment_time|date:'Y-m-d H:i:s' }}
                    </span>
                </div>
                <div class="area-comment-des">
                    <div id="comment_{{ comment.pk }}">{{ comment.content|safe }}</div>
                </div>
                <div class="area-comment-tool">
                    <a class="area-comment-up {% get_like_status comment %}"
                        onclick="like_change(this, '{% get_content_type comment %}', '{{ comment.pk }}')">
                        赞{% get_like_num comment %}</a>
                    <a href="javascript:reply({{ comment.pk }})" class="area-comment-reply">
                        回复
                    </a>
                </div>
                {% if comment.root_comment.all %}
                <div class="area-sec-close clearfix">
                    {% for reply in comment.root_comment.all %}
                    <div class="area-comment-left" style="max-width: 5%; height: 30px;"><a class="thumb"><img
                                src="{{ reply.user.get_avatar_url }}" class="avatar"
                                style="width: 30px; height: 30px;"></a></div>
                    <div class="area-comment-right" style="margin-left: 40px;">
                        <div class="area-comment-sec clearfix">
                            <div class="area-comment-title">
                                {{ reply.user.username }}<span class="time_day">发表于</span> <span
                                    class="time_times">{{ reply.comment_time|date:'Y-m-d H:i:s' }}
                                </span>
                            </div>
                            <div class="area-comment-des">
                                {% if reply.parent == reply.root %}
                                <div id="comment_{{ reply.pk }}">{{ reply.content|safe }}</div>
                                {% else %}
                                <div id="comment_{{ reply.pk }}">回复
                                    {{ reply.reply_to.username }} :
                                    {{ reply.content|safe }}</div>
                                {% endif %}
                            </div>
                            <div class="area-comment-tool">
                                <a class="area-comment-up {% get_like_status reply %}"
                                    onclick="like_change(this, '{% get_content_type reply %}', '{{ reply.pk }}')">
                                    赞{% get_like_num reply %}</a>
                                <a href="javascript:reply({{ reply.pk }})" class="area-comment-reply">
                                    回复
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <hr>
            </div>
        </div>
    </div>
    {% endfor %}
</div>