{% extends "share_layout/base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% load staticfiles %}
{% block header_extends %}
<link rel="stylesheet" href="{% static 'css/accounts/member.css' %}">
<link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock header_extends %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2" id="area-main-left">
            <div id="block-user-left" data-active="active"><a href="#area=profile" class="thumb"><img
                        src="{{ user.get_avatar_url }}" class="avatar"><span class="cover"><i
                            class="icon icon-user"></i>编辑资料</span></a>
                <div class="d"><a class="name">{{ user.username }}</a></div>
                <div class="area-extra">
                    <div class="space"></div><a href=""><span class="pts">{{ blog_count }}</span><span
                            class="hint">文章</span></a><span class="clearfix"></span>
                </div>
            </div>
            <div id="shadow-guide-left" class="hidden" style="height: 524px;"></div>
            <div id="list-guide-left" class="">
                <div class="part-guide-left active">
                    <div class="banner"><a href="{% url 'accounts:user_info' %}" class="tab fixed"><i
                                class="glyphicon glyphicon-home icon"></i>个人中心</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="area-main-right">
            <div id="area-cont-right">
                <div id="block-title-banner">
                    <p>{{ title }}</p>
                    <div><a href="{% url 'home' %}">QHL Blog</a></div><span class="clearfix"></span>
                </div>
                <div id="block-banner-right" class="block banner">
                    <a href="#area=profile" class="tab active"><i
                            class="glyphicon glyphicon-edit icon"></i>{{ title }}</a>
                </div>
                <div id="block-first" class="block">
                    {% block user_info_content %}
                    {% endblock user_info_content %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}