{% extends "share_layout/user_info_base.html" %}

{% block user_info_content %}
<div class="banner">
    <p class="tab fixed">基本信息<span class="hint">Basic Information</span></p>
</div>
<div class="mainer form">
<div id="unit-basic" class="">
    <div class="l a"><a href="#area=change-avatar" class="thumb"><img id="img-avatar-personal"
                title="单击修改头像" src="{{ user.get_avatar_url }}" class="avatar"></a></div>
    <div class="l b"><a id="name-personal" href="" class="name">{{ user.username }}</a><span
            id="uid-personal">Uid:{{ user.pk }}</span>
        <p id="hint-reg-personal">注册于 {{ user.date_joined|date:'Y-m-d H:i:s' }}</p>
    </div><span class="clearfix"></span>
</div>
<p class="divider"></p>
<div class="unit-tool">
    <div class="l"><a id="btn-avatar-personal" href="{% url 'accounts:change_avatar' %}" class="btn info"><i
                class="icon icon-user"></i>修改头像</a></div>
    <div class="r"><a id="btn-password-personal" href="{% url 'accounts:change_password' %}"
            class="btn info"><i class="icon icon-key"></i>修改密码</a></div><span
        class="clearfix"></span>
</div>
<p class="divider"></p>
<div class="unit-tool">
    <div class="l">邮箱：{{ user.email }}</div>
    <div class="r"><a id="btn-password-personal" href="{% url 'accounts:change_email' %}"
            class="btn info"><i class="icon icon-key"></i>更换邮箱</a></div><span
        class="clearfix"></span>
</div>
<p class="divider"></p>
<div class="unit-tool">
    <div class="l">上次登录时间：{{ user.last_login }}</div>
    <div class="r"></div><span class="clearfix"></span>
</div>
</div> 
{% endblock user_info_content %}