{% extends "share_layout/base.html" %}
{% block title %}个人中心{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            {% if user.is_authenticated %}
            <h2>你好，{{ user.username }}</h2>
            <ul>
                <li>邮箱:&nbsp;&nbsp;{{ user.email }}&nbsp;&nbsp;&nbsp;<a href="{% url 'accounts:change_email' %}">修改邮箱</a></li>
                <li>上次登录时间:{{ user.last_login }}</li>
                <li><a href="">修改密码</a></li>
            </ul>
            {% else %}
            <span>您尚未登录，请先登录</span>
            <script type="text/javascript">
                setTimeout("window.location.href='{% url 'accounts:login' %}?from={{ request.get_full_path }}'", 2000);
            </script>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}