* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 80px !important;
}

@media (max-width:768px) {
    .footer {
        width: 100%;
        ;
    }

}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

ul {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
}

.fl {
    float: left
}

.fr {
    float: right
}

/* 导航栏设置 */
.navbar-top {
    border-bottom: none !important;
}

div.navbar {
    line-height: 46px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 46px;
    font-size: 12px;
    z-index: 2;
}

.area-comm-title {
    height: 50px;
    line-height: 50px;
    margin-top: 8px
}

.area-comm-title-left {
    float: left
}

.area-comm-title-right {
    float: right
}

.area-comm-title-right a {
    padding: 0 20px;
    height: 28px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
    border: 1px solid #e6e6e6;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    text-align: center
}

.area-updateComm {
    margin-right: 2px
}

.area-updateComm img {
    vertical-align: middle;
    position: relative;
    right: 0;
    bottom: 2px
}

.area-comm-title a:hover {
    background: #e6e6e6
}

.area-comm-str {
    font-size: 20px;
    color: #333;
    line-height: 20px
}

.area-comm-number {
    font-size: 14px;
    color: #999;
    line-height: 14px
}

.alert {
    position: relative;
    display: block;
    margin: 4px auto;
    padding: 8px;
    border-radius: 2px;
    text-align: left;
    font-size: 13px;
    line-height: 1.4
}

.alert.info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    border: 1px solid #bce8f1
}

div .paginator {
    padding-left: 48px;
}

/* 搜索栏 */
.search-box {
    top: 9px;
    margin-left: 100px;
    width: 362px;
}

.search-box form {
    vertical-align: top;
    height: 32px
}

.search-box .icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    width: 30px;
}

.search-box .icon:before {
    font-size: 14px;
    color: #fff
}

.search-box input {
    border: 1px solid #e5e5e5;
    border-right: none;
    padding: 8px 10px;
    height: 32px;
    line-height: 14px;
    border-radius: 3px 0 0 3px;
    width: 316px;
    vertical-align: top;
    color: #999;
    box-sizing: border-box
}

.search-box .search-btn {
    border: none;
    width: 40px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    vertical-align: top;
    background: #fd4c5d;
    color: #fff;
    border-radius: 0 3px 3px 0;
    margin-left: -2px;
    cursor: pointer;
}

.search-box .search-btn:hover {
    background: #eb4556
}

.search-box .search-btn i.icon {
    display: inline;
}

.search-box .search-btn i.icon:before {
    font-size: 16px
}

.search-box .search-btn span {
    display: none
}

/* 导航栏消息中心设置 */
a.dropdown-toggle:hover {
    background: #fff !important;
}

.dropdown-menu {
    border: none !important;
}

.dropdown-menu>li {
    font-size: 12px;
    width: 100%;
    padding: 12px 0 0 0;
    line-height: 1.2;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background: #fff !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #fff;
    color: #f00;
}

.navbar-default .navbar-nav>.open>a:hover {
    color: #f00;
}

.dropdown-menu>li>a:hover{
    color: #f00;
}

/* 导航栏消息通知小红点 */
.badget{
    background: #fd4c5c !important;
    border-radius: 7px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    min-width: 14px;
    padding: 0 4px;
    text-align: center;
    font-family: Helvetica,sans-serif;
    box-sizing: border-box;
}

.badget.user-message-count {
    position: absolute;
    top: -9px;
    left: 10px;
}

.badget.type-message-count {
    position: absolute;
    right: 10px;
}

.notification {
    margin-right: 100px;
}
