{% extends "share_layout/base.html" %}
{% block title %}消息中心{% endblock title %}
{% load comment_tags %}
{% load staticfiles %}
{% block header_extends %}
<link rel="stylesheet" href="{% static 'css/my_notifications.css' %}">
{% endblock header_extends %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 nav">
            <div class="title">我的消息</div>
            <ul class="nav-list">
                <li class="msg-item comment {% if type == 'comment' %}active{% endif %}">
                    <a href="{% url 'my_notifications:my_notifications' %}?type=comment"> 评论
                    </a>
                </li>
                <li class="msg-item like {% if type == 'likes' %}active{% endif %}">
                    <a href="{% url 'my_notifications:my_notifications' %}?type=likes"> 赞
                    </a>
                </li>
                <li class="msg-item sysmsg {% if type == 'sysmsg' %}active{% endif %}">
                    <a href="{% url 'my_notifications:my_notifications' %}?type=sysmsg"> 站内公告
                    </a>
                </li>
                <li class="msg-item resmsg {% if type == 'resmsg' %}active{% endif %}">
                    <a href="{% url 'my_notifications:my_notifications' %}?type=resmsg"> 系统通知
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 content">
            <div id="listview">
                {% for notification in current_page %}
                {# 评论样式 #}
                {% if type == 'comment' %}
                <ul class="comment-item">
                    <li class="avatar"> <a class="avatar-section">
                            <img class="avatar" src="{{ notification.actor.get_avatar_url }}">
                        </a></li>
                    <li class="content">
                        <div class="titlebar">
                            <a class="name">{{ notification.actor.username }}</a>
                            <span class="time">{{ notification.timestamp|date:'Y-m-d H:i:s' }}</span>
                        </div>
                        <div class="intro">{{ notification.verb|safe }}
                        </div>
                        <a class="msg-reply" href="{{ notification.data.url }}" target="_blank">
                            <div class="clamp-text">
                                <div class="inner" style="-webkit-box-orient: vertical">
                                    {{ notification.description|striptags|safe }}
                                </div>
                            </div>
                        </a>
                        {% if notification.data.reply_to %}
                        <div class="msg-replied">
                            <div class="clamp-text">
                                <div class="inner" style="-webkit-box-orient: vertical">
                                    {{ notification.data.reply_to|striptags|safe }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </li>
                </ul>
                {# 点赞样式 #}
                {% elif type == 'likes' %}
                <ul class="like-item">
                    <li class="avatar"> <a class="avatar-section">
                            <img class="avatar" src="{{ notification.actor.get_avatar_url }}">
                        </a></li>
                    <li class="content">
                        <div class="titlebar">
                            <a class="name">{{ notification.actor.username }}</a>
                            <span class="time">{{ notification.timestamp|date:'Y-m-d H:i:s' }}</span>
                        </div>
                        <div class="intro">{{ notification.verb|safe }}
                            <a class="replied" href="{{ notification.data.url }}" target="_blank">
                                <div class="clamp-text">
                                    <div class="inner" style="-webkit-box-orient: vertical">
                                        {{ notification.description|striptags|safe }}
                                    </div>
                                </div>
                            </a>
                    </li>
                </ul>
                {# 系统通知、站内公告样式 #}
                {% elif type == 'resmsg' or type == 'sysmsg' %}
                <div class="main-block-msg-item">
                    <div>
                        {{ notification.verb|safe }}
                    </div>
                    <div class="msg-item-time">
                        {{ notification.timestamp|date:'Y-m-d H:i:s' }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% if range_page|length >  1 %}
            {% include "share_layout/pagination.html" %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}