/* 表单样式修改 */

/* 面板 */
.panel {
    width: 430px;
    border-color: #fff;
    box-shadow: none;
    margin-bottom: 50px;
}

/* 面板标题栏 */
.panel-default>.panel-heading {
    color: #333;
    background-color:#fff;
    /* border-color: #fff; */
    font-size: 18px;
}

/* 标题 */
.panel-title {
    margin-left: 20px;
    font-size: 22px;
}

/* 错误提示信息 */
.promt-info {
    margin-left: 40px;
    height: 18px;
    color: #fd4c5b;
    font-size: 14px;
    line-height: 18px;
    left: 35px;
    top: 22px;
    z-index: 4;
}

.promt-top {
    margin-left: 40px;
    height: 18px;
    color: #fd4c5b;
    font-size: 14px;
    line-height: 18px;
    left: 35px;
    top: 22px;
    z-index: 4;
    margin-bottom: 10px;
}

/* 输入框 */
.form-control {
    width: 318px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
}

/* 提交按钮 */
.btn-submit {
    margin-left: 40px;
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #fd4c5b;
    border-radius: 5px;
    text-align: center;
    margin-top: 18px;
}

.btn-submit:hover{
    color: #fff;
}

/* 提示链接 */
.login-options a {
    float: left;
    font: 14px 'PingFangSC-Semibold';
    color:  #9b9b9b;
    cursor: pointer;
}

.login-options {
    height: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.login-options .login-help {
    color: #9b9b9b;
    width: 61px;
    margin-right: 233px;
}

.login-options .reset-pwd {
    margin-right: 18px;
}
