* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 80px !important;
}

/* 设置全局ul样式 */
ul {
    list-style-type: none !important;
}

.blog-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 70px !important;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;

}

.blog-footer a {
    color: #fff
}

.blog-footer-links {
    padding-left: 0;
    margin-bottom: 20px
}

.blog-footer-links li {
    display: inline-block
}

.blog-footer-links li+li {
    margin-left: 15px
}

@media (min-width:768px) {
    .blog-footer {
        text-align: left;
    }

    .blog-footer p {
        margin-bottom: 0
    }
}
